version: "3.3"

services:
  user-management-backend:
    image: ${DOCKER_REG}${DOCKER_REPO}${APP_NAME}:${DOCKER_TAG}
    build:
      context: .
    container_name: user-management-backend
    depends_on:
      - user-management-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://user-management-db:5432/test_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_JPA_HIBERNATE_DDL-AUTO=update
      - SPRING_MAIL_USERNAME=${MAIL_USERNAME}
      - SPRING_MAIL_PASSWORD=${MAIL_PASSWORD}
      - APP_INSTALLATION=citizen
      - APP_ADMIN_EMAIL=admin@skillab.eu
      - APP_ADMIN_PASSWORD=adminskillab
      - APP_ORGANIZATION_NAME=Organization
      - APP_JWT_SECRET=secret
      - FRONTEND_URL=https://portal.skillab-project.eu
      - TRACKER_API_URL=https://skillab-tracker.csd.auth.gr
      - TRACKER_API_USERNAME=${TRACKER_USERNAME}
      - TRACKER_API_PASSWORD=${TRACKER_PASSWORD}
      - HIRING_SERVICE_URL=http://hiring-management-backend:8080
      - POLICY_SERVICE_URL=http://backend-policy:8080
      - EMPLOYEEMANAGEMENT_SERVICE_URL=http://employee-management-backend:8080
      - KUDETECTION_SERVICE_URL=http://ku-detection-backend:5000
      - POLICYSUCCESSEVALUATOR_SERVICE_URL=http://policy-success-evaluator-backend:8878
    ports:
      - "8081:8080"
    restart: unless-stopped
    networks:
      - shared-net
    labels:
      io.portainer.accesscontrol.teams: skillab-all

  user-management-db:
    image: postgres:14.7
    container_name: user-management-db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: test_db
    volumes:
       - user_management_postgresql_data:/var/lib/postgresql/data
    #ports:
    #  - '5456:5432'
    networks:
      - shared-net
    restart: unless-stopped
    labels:
      io.portainer.accesscontrol.teams: skillab-all

volumes:
  user_management_postgresql_data:
    labels:
      io.portainer.accesscontrol.teams: skillab-all

networks:
  shared-net:
    external: true